.pt60percent{
  padding-top: 60%;
}
.pt70percent{
  padding-top: 70%;
}
.pt17_4percent{
  padding-top: 17.4%;
}
.pt72percent{
  padding-top: 72%;
}
.pt78percent{
  padding-top: 78%;
}
.pt87_7percent{
  padding-top: 87.7%;
}
.pt90percent{
  padding-top: 90%;
}
.pt100percent{
  padding-top: 100%;
}
.min-w240{
  min-width: 240px;
}
.min-h100percent{
  min-height: 100vh;
}
.max-w508{
  max-width: 508px;
}
.max-w230{
  max-width: 230px;
}
.h350{
  height: 350px!important;
}
.max-w970{
  max-width: 970px;
}
.max-w320{
  max-width: 320px;
}
.max-w485{
  max-width: 485px;
}